#screenshotImg {
  max-width: 100%;
}
.pane-group {
  align-items: center;
}
.pane {
  text-align: center;
}
#taskName {
  height: 24px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
}
#spinnerContainer {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1px;
  left: 0;
  height: 100%;
  opacity: 0.5;
  text-align: center;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
#spinnerContainer.visible {
  opacity: 0.5;
}
#spinnerIcon {
  max-width: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
