<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nozbe Screenshot</title>
    <link rel="stylesheet" href="../node_modules/photonkit/dist/css/photon.css">
    <link rel="stylesheet" href="./mainWindow.css">
  </head>
  <body>
    <div id="mainWindow" class="window">
      <div class="window-content">
        <div class="pane-group">
          <div class="pane">
            <button
              v-if="!screenshotData"
              v-on:click="makeScreenshot"
              class="btn btn-primary"
            >
              Make screenshot
            </button>
            <img id="screenshotImg" v-if="screenshotData" v-bind:src="screenshotData">
          </div>
        </div>
        <div id="spinnerContainer" v-if="screenshotData" v-bind:class="{ visible: isAddingScreenshot }">
          <img id="spinnerIcon" src="../assets/spinner.gif">
        </div>
      </div>
      <footer class="toolbar toolbar-footer">
        <div class="toolbar-actions">
          <button
            class="btn btn-default"
            v-on:click="cancel"
          >
            Cancel
          </button>

          <button
            class="btn btn-primary pull-right"
            v-on:click="addTask"
            :disabled="!screenshotData"
          >
            Add task
          </button>
          <input id="taskName" class="pull-right" v-model="taskName" placeholder="Task name..." :disabled="!screenshotData">
        </div>
      </footer>
    </div>
    <script>
      require('./mainWindowRenderer.js');
    </script>
  </body>
</html>
